<div id="jumbo_container" class="container">
  <div id="jumbo" class="jumbotron">
    <h1 id="main_title" class="">Arty on Rails</h1>
    <h3 id="subtitle">An Art and Artists Database Made with Rails</h3>
  </div>
    <p>

<div id="submit_artist">
  <a href="/artists/new"><button id="main_button" class="btn btn-large btn-block btn-primary" type="button">Submit an artist to the database</button>
  <img style="height: 200px; width: 100%" src="http://static.guim.co.uk/sys-images/Observer/Columnist/Columnists/2012/2/21/1329825248467/Jackson-Pollock-007.jpg" class="img-rounded"></a>
</div>
<div id="submit_painting">
  <a href="/paintings/new"><button id="main_button" class="btn btn-large btn-block btn-primary" type="button">Submit a painting to the database</button>
  <img style="height: 200px; width: 100%" src="http://robertweingarten.com/pollock_images/jackson-pollock5.jpg" class="img-rounded"></a>
</div>
